<div id="grupo" class="backcover">
    <div class="container">
        <div class="row margin-header">
            <div class="col-xs-12">
                 <h1 class="text-center white">Consumos eficientes<br/>Industrias rentables</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row margin-bottom-x1">
        <div class="col-sm-4 hidden-xs"></div>
        <div class="col-sm-4 col-xs-12 text-center">
            <h2 class="orange">
                <span ng-show="status === 'diagnostico'">Servicios de ahorro de energía</span>
                <span ng-show="status === 'implementacion'">Proyectos de energia electrica</span>
                <span ng-show="status === 'gerencia'">Business efficiency</span>
            </h2>
            <p ng-show="status === 'diagnostico'">Estructuramos proyectos para optimizar sus consumos y hacer más rentable su operación.</p>
            <p ng-show="status === 'implementacion'">Proyectos de energía eléctrica confiables y sostenibles que hacen más rentable su operacion</p>
            <p ng-show="status === 'gerencia'">Monitoreo y control de señales</p>
        </div>
        <div class="col-sm-4 hidden-xs"></div>
    </div>
    <div class="row margin-top-x1 margin-bottom-x1">
        <div class="col-sm-4">
            <h4>Nuestros <span class="orange">Servicios</span></h4>
            <p>
                La optimización en los consumos de energía eléctrica es cíclica y constante .Haciendo clic en cada uno de las etapas, podrá conocer en detalle los servicios que ofrece Certion durante la intervención en cualquier industria.
            </p>
            <p>
                <a class="btn btn-lg btn-block" ng-class="{'btn-diagnostico' : status === 'diagnostico' , 'btn-default' : status !== 'diagnostico'}" ng-click="change('diagnostico')">Diagnóstico</a>
                <a class="btn btn-lg btn-block" ng-class="{'btn-implementacion' : status === 'implementacion', 'btn-default' : status !== 'implementacion'}" ng-click="change('implementacion')">Implementación</a>
                <a class="btn btn-lg btn-block" ng-class="{'btn-gerencia' : status === 'gerencia' , 'btn-default' : status !== 'gerencia'}" ng-click="change('gerencia')">Gerencia</a>
            </p>
        </div>
        <div class="col-sm-4 hidden-xs">
            <img id="circle" src="img/circle.png" width="100%" ng-class="status" />
        </div>
        <div class="col-sm-4">
            <div ng-class="{ 'hide' : status !== 'diagnostico' }"> 
                <h4 class="orange">Públicos</span></h4>
                <p>
                    <ul>
                        <li>
                            <span class="orange">Producción:</span> Eficiencia, reducción de tiempos muertos y diseños adaptables
                        </li>
                        <li>
                            <span class="orange">Mantenimiento:</span> Aumento de vida útil de sus activos
                        </li>
                        <li>
                            <span class="orange">Financiera:</span> Proyectos que maximizan la rentabilidad
                        </li>
                        <li>
                            <span class="orange">Proyectos:</span> Ejecuciones eficientes y acompañamiento constante
                        </li>
                    </ul>
                </p>
            </div>
            <div ng-class="{ 'hide' : status !== 'implementacion' }">
                <h4 class="orange">Públicos</span></h4>
                <ul class="margin-bottom-x1">
                    <li>
                        <span class="orange">Proyectos:</span> Construcción, supervisión y puesta en marcha de obra
                    </li>
                    <li>
                        <span class="orange">Financiera:</span> Proyectos rentables y confiables
                    </li>
                    <li>
                        <span class="orange">Compras:</span> Suministro de equipos óptimos que respaldan la producción.
                    </li>
                    <li>
                        <span class="orange">Producción::</span> Generación de eficiencia en consumos de energía eléctrica
                    </li>
                </ul>
                <p>
                    <img src='img\eaton_asi.jpg' width="280px">
                </p>
            </div>
            <div ng-class="{ 'hide' : status !== 'gerencia' }">
                <h4 class="orange">Públicos</span></h4>
                <ul class="margin-bottom-x1">
                    <li>
                        <span class="orange">Producción:</span> Aumento del control específico del consumo eléctrico en su producción
                    </li>
                    <li>
                        <span class="orange">Mantenimiento:</span> Confiabilidad en el sistema eléctrico
                    </li>
                    <li>
                        <span class="orange">Gerencia:</span> Tecnifica, normaliza y capitaliza las actividades de mantenimiento. Mayor utilidad de sus activos.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="banner" class="row row-padding-top row-padding-bottom white" ng-class="status">
        <div ng-class="{ 'hide' : status !== 'diagnostico' }">
            <div class="col-sm-6 col-md-3 margin-top-x1">
                <h3><b>Diagnosticamos</b></h3>
                <p>
                    Mediante el conocimiento de su red y los equipos asociados, hacemos una valoración de su situación y planteamos una solución óptima de acuerdo a las necesidades de su industria.
                </p>
                <h3>Auditoria Energetica</h3>
            </div>
            <div class="col-sm-6 col-md-3 margin-top-x1">
                <h3>Gestión de <b>Energía</b></h3>
                <p>
                    Valoración de pérdidas de energía eléctrica asociadas la operación y las razones por las cuales se da, proponiéndole soluciones encaminadas a la eficiencia en la producción a través del ahorro.
                </p>
            </div>
            <div class="col-sm-6 col-md-3 margin-top-x1">
                <h3><b>Consultoría</b></h3>
                <p>
                    Diseño de proyectos de enérgia; evaluación de sistemas y soluciones eléctricas, mediante identificación de la viabilidad del proyecto, definición de requerimientos, asignación de profesionales y finalmente supervisión de la implementación.
                </p>
            </div>
            <div class="col-sm-6 col-md-3 margin-top-x1">
                <h3>Pruebas y <b>Estudios</b></h3>
                <p>
                    <ul>
                        <li>Pruebas de aislamiento en transformadores, motores y generadores.</li>
                        <li>Pruebas de medición eléctrica industrial y de baja resistencia.</li>
                        <li>Estudios de calidad de energía</li>
                        <li>Diagnóstico de implementación de variadores</li>
                        <li>Análisis de viabilidad financiera de la solución</li>
                    </ul>
                </p>
            </div>
        </div>
        <div ng-class="{ 'hide' : status !== 'implementacion' }">
            <div class="col-sm-6 col-md-3 margin-top-x1">
                <h3><b>Implementamos</b></h3>
                <p>
                    Siguiendo la metodología <b><font style='font-size:1.2em'>PMI</font></b>
                    <ul>
                        <li>
                            Planificación
                        </li>
                        <li>
                            Diseño    
                        </li>
                        <li>
                            Implementación
                        </li>
                        <li>
                            Control
                        </li>
                        <li>
                            Puesta en marcha
                        </li>
                    </ul>
                    De proyectos <b><font style='font-size:1.2em'>Eléctricos</font></b>
                </p>
            </div>
            <div class="col-sm-6 col-md-3 margin-top-x1">
                <h3>Proyectos de <b>Energía</b></h3>
                <p>
                    <ul>
                        <li>Automatización y control <b><font style='font-size:1.2em'>Industrial</font></b></li>
                        <li><b><font style='font-size:1.2em'>Hospitalarios</font></b></li>
                        <li>Industriales de media y baja tensión</li>
                        <li>
                            <b><font style='font-size:1.2em'>Infraestructura</font></b> Comercial
                        </li>
                        <li>
                            Infraestructura Vial (Redes de enérgia y Alumbrado público)
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-sm-6 col-md-3 margin-top-x1">
                <h3><b>Fabricación</b></h3>
                <p>
                    <ul>
                        <li>
                            Gabinetes en media y baja tensión  <b><font style='font-size:1.2em'>RETIE 2013</font></b>
                        </li>
                        <li>
                            Modulares de control y de potencia IP66
                        </li>
                        <li>
                             Modulares de control acero inoxidable NEMA 4X
                        </li>
                        <li>
                            Celdas de media tensión  <b><font style='font-size:1.2em'>XENERGY</font></b> NEMA 61439-61641 (arco eléctrico)
                        </li>
                        <li>
                            XW (CCM extraíble)
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-sm-6 col-md-3 margin-top-x1">
                <h3>Ingeniería de <b>Velocidad</b></h3>
                <p>
                    <ul>
                        <li>
                            <b><font style='font-size:1.2em'>Variadores</font></b> de velocidad
                        </li>
                        <li>
                            <b><font style='font-size:1.2em'>Arrancadores</font></b> suaves
                        </li>
                        <li>
                            Servico Técnico especializado
                        </li>
                        <li>
                            Montaje y puesta en marcha de variadores electrónicos de velocidad para arranque de motores
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div ng-class="{ 'hide' : status !== 'gerencia' }">
            <div class="col-sm-6 col-md-3 margin-top-x1">
                <h3><b>Gerenciamos</b></h3>
                <p>
                    Seguimiento a las soluciones implementadas para generar continuidad y calidad en cada uno de los procesos.
                </p>
            </div>
            <div class="col-sm-6 col-md-3 margin-top-x1">
                <h3><b>Supervisión</b></h3>
                <p>
                    Revisión constante de los procesos asegurándonos de la calidad y productividad de los mismos.
                </p>
            </div>
            <div class="col-sm-6 col-md-3 margin-top-x1">
                <h3><b>Control</b></h3>
                <p>
                    Monitoreo de consumo y calidad de energía. Planificación de consumos y picos de energía.
                </p>
            </div>
            <div class="col-sm-6 col-md-3 margin-top-x1">
                <h3><b>Administración</b></h3>
                <p>
                    Implementamos proyectos de alto impacto en los consumos directamente asociados con la producción, a través de la instalación de diferentes tipos de variadores y arrancadores que regulan la potencia los motores de la maquinaria.
                </p>
            </div>
        </div>
    </div>
</div>